body {
    background-color: #000033;
}
.container {
    
    //padding: 0;
    
}
.header, .row {
    background-color: #fff;
    margin: 10px 0 10px 0;
    padding-bottom: 20px;
    border: 2px dotted #000033;
}
.header {
   padding: 10px 0; 
}
.header h1 {
    margin: 0!important;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #000033;
}
h2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
h4 {
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.nav {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}
.update input {
    width: 100px;
}
.form-control, .input-group-addon, .btn {
    border-radius: 0;
}
.admin > button {
    margin-top: 10px;
    border-color: #000033!important;
    color: #000033!important;
}
.admin > button:hover {
    background-color: #6699ff!important;
}
.backup {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #000033;
}
.into {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;
    background-color: #fff;
    border: 2px dotted #000033;
}
